@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-title {
  @apply bg-gradient-to-r from-green-500 via-emerald-500 to-teal-500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
